.bg-skyblue-thead{
    background-color: #cfe2ff;
    color:black;
    border: none;
    font-weight: 600;
}

/* .table thead th{
    background-color: #3B3B6B ;
    color: white;
    line-height: 1.2;
} */