.comment-section {
    width: 70%;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.comment-section h5 {
    text-align: left;
    margin-bottom: 1rem;
}

.comment-textarea {
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    min-height: 100px;
    resize: vertical;
}

.comment-send-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 0.25rem;
    background-color: #4496E3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment-send-button:hover {
    background-color: #4496E3;
    margin-bottom: 2rem;
}

.comment-container {
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    background-color: #ffffff;
}

.comment-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    padding : 1rem 1.5rem;
    position: relative;
}

.comment-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.comment-user-icon {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.comment-user-icon img {
    vertical-align: middle;
}

.comment-username {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.comment-username a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.comment-username h1 {
    margin-top: 1.0rem;
    line-height: 1;
    display: flex;
    align-items: center;
}

.comment-date {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.comment-date p {
    margin: 0;
    line-height: 1;
}

.comment-trash {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: transparent;
    border: none;
}

.comment-text {
    width: 100%;
    margin-bottom: 1rem;
    text-align: left;
}

.comment-text p {
    margin: 0;
    padding: 0;
}

.comment-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comment-action-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.comment-action-item form {
    display: flex;
    align-items: center;
    margin: 0;
}

.comment-action-item button {
    display: flex;
    align-items: center;
    padding: 0;
    line-height: 1;
    background: none;
    border: none;
}

.comment-action-item i {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-right: 0;
}

.comment-action-item .count {
    margin-left: 4px;
    line-height: 1;
}

.star {
    font-size: 20px;
    cursor: pointer;
    color: lightgray;
    transition: color 0.2s;
}
.star.selected {
    color: gold;
}