.card{
    position: relative;
    padding-left: 5%; 
    padding-top: 5%;
    width: 22.1rem;
    height: 22rem;
    /* height: auto; */

}

.slick-slide {
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px;
    box-sizing: border-box;
}
    
.slick-track {
    display: flex !important;
}

.slick-slide > div {
    /* height: auto !important; */
    height: 31rem !important;
}



.body-image{
    width: 100%;
    height: auto;
    height: 12rem;
    width: 20rem;
    border-radius: 5px;
}

.official{
    position: absolute;
    left: -0.5%;
    top: -0.5%;
    width: 20%;
    height: auto;
}

.official-personal{
    width: 1.3rem;
    height: 1.3rem;
    /* width: 20px;
    height: 20px; */
}

.card-body{
    display: flow-root
}

.card-subtitle{
    font-family: "Raleway", sans-serif;
    font-size: 12px;

}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .username {
    size: 23rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; 
    margin: 0;
} */

.card-icon{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    /* width: 30px;
    height: 30px; */
}

.card_description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-follow-body{
    background-color: #4496E3 !important;
    color: white !important;
    border: solid 2px #4496E3 !important;
    border-radius: 20px !important;
    text-decoration: none !important;
}


button.btn.btn-sm.shadow-none{
    margin-top: 0.5rem;
}


.col-auto.d-flex.ms-3 img{
    padding-bottom: 0.5rem;
}

.no-click {
    pointer-events: none;
}