/* ---------------Navbar--------------- */

/* Navbar LOGO */
.nav-img{
    width: 10.5rem;
}


.form-control-sm{
    display: block;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #73B0E8;
    border-radius: 0.375rem;
    margin-left: 0 ;
    width: 15rem;
}

ul li{
    font-size: 0.8rem;
}

.business{
    font-size: 0.4rem;
}

.nav-link{
    text-decoration: none;
}

main{
    padding-top: 3.095rem;
}

html, body{
    overflow-x: hidden;
}