.card{
    position: relative;
    /* padding-left: 5%; 
    padding-top: 5%; */
    /* width: 80%; */
    max-height: 100%;
}

.post-image{
    width:100%;
    height:250px;
    object-fit: cover;
    border-radius: 5px;
}

.body-image{
    widows: 100%;
    height: auto;
    /* height: 12rem;
    width: 18rem; */
    border-radius: 5px;
}

.official{
    position: absolute;
    left: -0.5%;
    top: -0.5%;
    width: 20%;
    height: auto;
}

.official-personal{
    width: 1.3rem;
    height: 1.3rem;
    /* width: 20px;
    height: 20px; */
}

.card-header{
    display: flow-root;
    height:260px;
    overflow: hidden;
}

.card-body{
    display: flow-root;
    height:230px;
}

.card-body.content{
    display: flow-root;
    height:300px;
}

.card-subtitle{
    font-family: "Raleway", sans-serif;
    font-size: 12px;

}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .username {
    size: 23rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; 
    margin: 0;
} */

.card-icon{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    /* width: 30px;
    height: 30px; */
}

.card_description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-follow-body{
    background-color: #4496E3 !important;
    color: white !important;
    border: solid 2px #4496E3 !important;
    border-radius: 20px !important;
    text-decoration: none !important;
}

.navbar-nav .nav-link.active {
    color: #D24848 !important; 
    font-weight: bold; 
}

.tag-category .col-auto h1{
    font-size: 1.5rem;
}

.tag-category .col-auto h1.active{
    font-size: 1.5rem;
    color: #D24848 !important; 
    font-weight: bold; 
}
