main{
    overflow-y: hidden;
}

.wrapper-tag{
    padding-top: 5rem;
    background-color: #FFFBF0;
}

.search-word{
    margin-left: 5rem;
}

.search-word h1{
    font-weight: bold;
}


.tag-category{
    padding-top: 3rem;
}

.tag-category h1{
    font-size: 1.5rem;
}

.tag-category img{
    width: 2rem;
    height: 2rem;
}

.for-line{
    width: 70%;
    background-color: gray;
    height: 2px;

}




/* wrapper-body */

.wrapper-body{
    margin-top: 5rem;
}

