.spot-main-image {
    position: relative;
    /* background-color: #BFE8E8; */
    padding: 20px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attention{
    background-color: #B4D5F4;
}

.spot-main-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    margin-top: 1.3rem; 
    margin-bottom: 0;
} 

.main-title {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 15px;
    border-radius: 4px;
    backdrop-filter: blur(4px);
    font-size: 1.2rem;
    font-weight: 500;
    width: 65%;
    text-align: left;
}

.spot-image-caption {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 8px 15px;
    border-radius: 4px;
    backdrop-filter: blur(4px);
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
    text-align: left;
}

.spot-detail {
    padding: 2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.spot-detail h5 {
    margin-bottom: 1rem;
    text-align: center;
}

.spot-detail p {
    line-height: 1.6;
    text-align: left;
    max-width: 100%;
}

.spot-map {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spot-map-container {
    height: 500px;
    width: 75%;
    margin-bottom: 10px;
    /* border-radius: 8px; */
    /* overflow: hidden; */
}

/* 追加画像のグリッドスタイル */
.spot-photos-grid {
    margin-bottom: 2rem;
}

.spot-photo-item {
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* アスペクト比を1:1（正方形）に設定 */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.h-auto-md-down {
    height: auto !important;
  }

  @media (min-width: 768px) {
    /* .h-auto-md-down {
      height: 100% !important;
    } */

    .spot-main-image {
        height: 20rem; /* スマホは高さを少し縮める */
      }

    /* .icon-mmd {
    font-size: 0.8rem; /* スマホ時に少し小さく */
    
    }

    hr.dashed-hr {
        border: 0;
        border-top: 2px dashed #0b0b0b;

    }

    .like-button-wrapper {
        position: relative;
        display: inline-block;
    }
    
    .login-tooltip {
        display: none;
        position: absolute;
        text-align: left !important;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        background-color: #f8f9fa;
        color: #333;
        border-radius: 8px;
        padding: 6px 10px;
        font-size: 0.75rem;
        line-height: 1.4;
        white-space: normal;
        max-width: 250px;
        min-width: 180px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        z-index: 999;
    }
    
    .like-button-wrapper:hover .login-tooltip {
        display: block !important;
    }

    .like-disabled {
        pointer-events: none;   /* クリック不可 */
        cursor: default;
    }    
    